<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="content-right">
        <div class="app-content-right-header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="app-content-right-body">
            <div class="content_container_top">
                <div class="content_container_top_item">
                    <div class="content_container_top_item_img">
                        <img src="../../../assets/image/Chart.svg" alt="Chart">
                    </div>
                    <h1 class="content_container_top_item_title">Learning Progress</h1>
                </div>
                <div class="content_container_top_item">
                    <div class="content_container_top_item_img">
                        <img src="../../../assets/image/Todo.svg" alt="Chart">
                    </div>
                    <h1 class="content_container_top_item_title">To-do List
                        for Today</h1>
                </div>
                <div class="content_container_top_item">
                    <div class="content_container_top_item_img">
                        <img src="../../../assets/image/Skill.svg" alt="Chart">
                    </div>
                    <h1 class="content_container_top_item_title">Skill
                        Diagram</h1>
                </div>
                <div class="content_container_top_item">
                    <div class="content_container_top_item_img">
                        <img src="../../../assets/image/Unit.svg" alt="Chart">
                    </div>
                    <h1 class="content_container_top_item_title">Unit</h1>
                </div>
            </div>
            <div class="content_container_bottom">
                <div class="title">
                    <img src="../../../assets/image/Elip.svg" alt="Elip">
                    <h1>Unit 2: Tiêu đề Unit </h1>
                </div>
                <div class="content">
                    <div class="list">
                        <ul class="list_lesson">
                            <li>
                                <img src="../../../assets/image/Check.svg" alt="Check">
                                <h3>Lesson 1</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 2</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 3</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 4</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 4</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 5</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 6</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 7</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 8</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 9</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 10</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 11</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 11</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 11</h3>
                            </li>
                            <li>
                                <img src="../../../assets/image/Lock.svg" alt="Check">
                                <h3>Lesson 11</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="percent">
                        <div class="percent_top">
                            <div class="percent_top_left">
                                <div class="circle">
                                    <svg class="under" width="150" height="150">
                                        <circle cx="75" cy="75" r="70" id="bot" />
                                        <circle cx="75" cy="75" r="70" id="top" />
                                    </svg>
                                </div>
                                <div class="number">
                                    <h1>75%</h1>
                                    <p>Lesson completion</p>
                                </div>
                            </div>
                            <div class="percent_top_right">
                                <div class="percent_top_left_item">
                                    <div class="percent_top_left_item_image active">
                                        <img src="../../../assets/image/Check.svg" alt="">
                                        <div class="line"></div>
                                    </div>
                                    <h3 class="percent_top_left_item_des">Video-guided Instruction</h3>
                                </div>
                                <div class="percent_top_left_item">
                                    <div class="percent_top_left_item_image">
                                        <img src="../../../assets/image/ClockTime.svg" alt="">
                                        <div class="line"></div>
                                    </div>
                                    <h3 class="percent_top_left_item_des">Lesson Homework</h3>
                                </div>
                                <div class="percent_top_left_item">
                                    <div class="percent_top_left_item_image">
                                        <img src="../../../assets/image/Key.svg" alt="">
                                        <!-- <div class="line"></div> -->
                                    </div>
                                    <h3 class="percent_top_left_item_des">Suggested Practices</h3>
                                </div>
                            </div>
                        </div>
                        <div class="percent_bottom">
                            Continue
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>