<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content">
            <div class="content_top">
                <div class="content_top_title">
                    <h2 class="content_top_title_total">Total score:</h2>
                    <h1 class="content_top_title_score">28/40</h1>
                </div>
                <div class="content_top_center">
                    <div class="content_top_center_left">
                        <h1 class="content_top_center_left_title">
                            Overall
                        </h1>
                        <div class="content_top_center_left_score">
                            4.0
                        </div>
                    </div>
                    <div class="content_top_center_right">
                        <h1 class="content_top_center_right_title">Tổng kết các section</h1>
                        <div class="content_top_center_right_items">
                            <div class="content_top_center_right_item">
                                <h1 class="content_top_center_right_item_title"> Listening</h1>
                                <div class="content_top_center_right_item_percent">
                                    <div class="item_percent_parrent">
                                        <div class="item_percent_children">
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                        </div>
                                    </div>
                                    <p class="item_score">4.0</p>
                                </div>
                            </div>
                            <div class="content_top_center_right_item">
                                <h1 class="content_top_center_right_item_title"> Reading</h1>
                                <div class="content_top_center_right_item_percent">
                                    <div class="item_percent_parrent">
                                        <div class="item_percent_children">
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                            <div class="item_percent_children_item"></div>
                                        </div>
                                    </div>
                                    <p class="item_score">4.5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_bottom">
                <div class="content-center">
                    <div class="content-center-title">
                        <h2 class="title-content-center-h2">
                            Mock test result placement
                        </h2>
                    </div>
                    <div class="table">
                        <table align="center">
                            <tr>
                                <th class="table_title">Overall Band Score</th>
                                <th class="table_title">Placement Decision</th>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    <span>
                                        < 3.0</span>
                                </td>
                                <td bgcolor="#4E6680">Suggest Academic placement test
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#4E6680">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3.0 - 3.5
                                </td>
                                <td bgcolor=" #4E6680">IELTS Foundation
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4.0 - 4.5
                                </td>
                                <td bgcolor="#4E6680">Mindset 1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5.0 - 5.5
                                </td>
                                <td bgcolor="#4E6680">Mindset 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6.0 - 6.5
                                </td>
                                <td bgcolor="#4E6680">Mindset 3
                                </td>
                            </tr>


                        </table>
                    </div>
                    <p class="content-center-result">
                        Kết quả cho thấy bạn đang ở trình độ Mindset 1 (4.0 - 4.5). Hãy chọn tiếp tục để nhận
                        kết quả bài kiểm tra đầu vào!
                    </p>
                </div>
            </div>
            <div class="footer">
                <button>
                    Next
                </button>
            </div>
        </div>
    </div>

</div>
<div class="background"></div>