<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content">
            <div class="top">
                <div class="top-content">
                    <div class="content">
                        <div class="left"></div>
                        <div class="right">
                            <h1>👋 <span>Hi</span> THÀNH LONG</h1>
                            <p>Let’s get started with your learning</p>
                            <button> I’m ready </button>
                        </div>
                    </div>
                </div>
                <div class="bottom-background"></div>
                <div class="robot">
                    <img src="../../../assets/image/robot.svg" alt="robot" class="robot-body">
                </div>
                <div class="robot-leg">
                    <img src="../../../assets/image/robotleg.svg" alt="robot" class="robot-leg">
                </div>
                <div class="image">
                    <img src="../../../assets/image/nen.svg" alt="nen">
                </div>
            </div>
            <div class="bottom">
                <h3>👋 <span>Hi</span> THÀNH LONG</h3>
                <h1>Welcome to FSEL’s Placement Test</h1>
                <p>Bạn đã sẵn sàng đến với bài test để kiểm tra trình độ hiện tại trước khi tham gia khóa học chính thức
                </p>
            </div>
        </div>
    </div>

</div>
<div class="background"></div>