<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content">
            <div class="content-center">
                <h1 class="title-content-center">
                    <span>Hey!</span>
                    <br>
                    Học tiếng Anh theo lộ trình của Academic cùng FSEL nhé!
                </h1>
                <h2>
                    Với độ tuổi hiện tại, bạn bắt đầu với A2!
                </h2>
                <div class="table">
                    <div class="a2-complete ">
                        <div class="a2 box green">
                            <div class="icon">
                                <img src="../../../assets/image/map.svg" alt="">
                            </div>
                            <div class="title">
                                <h1 class="title-table">A2</h1>
                                <p class="module">Module</p>
                            </div>
                        </div>
                        <div class="complete">
                            <div class="complete-item">
                                <div class="arrow-complete">
                                    <img src="../../../assets/image/Arrow.svg" alt="">
                                </div>
                                <h3>Đạt</h3>
                            </div>
                            <div class="complete-item">
                                <div class="arrow-complete">
                                    <img src="../../../assets/image/Arrow 2.svg" alt="">
                                </div>
                                <h3>Không Đạt</h3>
                            </div>
                        </div>
                    </div>
                    <div class="b1-a1">
                        <div class="b1 box grey">
                            <h1 class="title-table">B1</h1>
                            <p class="module">Module</p>
                        </div>
                        <div class="a1 box grey">
                            <h1 class="title-table">A1</h1>
                            <p class="module">Module</p>
                        </div>
                    </div>
                    <div class="b1plus-b1-a2-a1-academic">
                        <div class="b1plus box grey">
                            <h1 class="title-table">B1+</h1>
                            <p class="module">Module</p>
                        </div>
                        <div class="b1 box blue">
                            <p class="module">Place at</p>
                            <h1 class="title-table">B1</h1>
                        </div>
                        <div class="a2-a1-academi">
                            <div class="a2 box blue">
                                <p class="module">Place at</p>
                                <h1 class="title-table">A2</h1>
                            </div>
                            <div class="a1 box blue">
                                <p class="module">Place at</p>
                                <h1 class="title-table">A1</h1>
                            </div>
                            <div class="academi box grey">
                                <p class="module">Ineligible for Academic</p>
                            </div>
                        </div>
                    </div>
                    <div class="b2-b1">
                        <div class="b2 box blue">
                            <p class="module">Place at</p>
                            <h1 class="title-table">A1</h1>
                        </div>
                        <div class="b1+ box blue">
                            <p class="module">Place at</p>
                            <h1 class="title-table">A1</h1>
                        </div>
                    </div>

                    <div class="arrow1 arrow">
                        <img src="../../../assets/image/Arrow1.svg" alt="">
                    </div>
                    <div class="arrow2 arrow">
                        <img src="../../../assets/image/Arrow2.svg" alt="">
                    </div>
                    <div class="arrow3 arrow">
                        <img src="../../../assets/image/Arrow3.svg" alt="">
                    </div>
                    <div class="arrow4 arrow">
                        <img src="../../../assets/image/Arrow4.svg" alt="">
                    </div>
                    <div class="arrow5 arrow">
                        <img src="../../../assets/image/Arrow5.svg" alt="">
                    </div>
                    <div class="arrow6 arrow">
                        <img src="../../../assets/image/Arrow6.svg" alt="">
                    </div>
                    <div class="arrow7 arrow">
                        <img src="../../../assets/image/Arrow7.svg" alt="">
                    </div>
                    <div class="arrow8 arrow">
                        <img src="../../../assets/image/Arrow8.svg" alt="">
                    </div>
                    <div class="arrow9 arrow">
                        <img src="../../../assets/image/Arrow8.svg" alt="">
                    </div>
                </div>
                <div class="close">
                    <img src="../../../assets/image/Close1.svg" alt="Close1">
                </div>
            </div>
            <div class="select">
                <div class="select-item">
                    <img src="../../../assets/image/Oval.svg" alt="Oval" class="img1">
                    <img src="../../../assets/image/Oval2.svg" alt="Oval" class="img2">
                </div>
                <div class="select-item">
                    <img src="../../../assets/image/Oval.svg" alt="Oval" class="img1">
                    <img src="../../../assets/image/Oval2.svg" alt="Oval" class="img2">
                </div>
                <div class="select-item">
                    <img src="../../../assets/image/Oval.svg" alt="Oval" class="img1">
                    <img src="../../../assets/image/Oval2.svg" alt="Oval" class="img2">
                </div>
                <div class="select-item">
                    <img src="../../../assets/image/Oval.svg" alt="Oval" class="img1">
                    <img src="../../../assets/image/Oval2.svg" alt="Oval" class="img2">
                </div>
            </div>
        </div>
        <div class="bottom">
            <button class="btn-back btn">
                Back
            </button>
            <button class="btn-next btn">
                Next
            </button>
        </div>
    </div>

</div>
<div class="background"></div>