<div class="content_nav">
    <div class="content_nav_right">
        <div class="content_nav_right_item calendar">
            <img src="../../../assets/image/Calendar.svg" alt="Calendar">
            <span>0</span>
        </div>
        <div class="content_nav_right_item coin">
            <img src="../../../assets/image/Coin.svg" alt="Coin">
            <span>0</span>
        </div>
        <div class="content_nav_right_item notify">
            <img src="../../../assets/image/Circle.svg" alt="Circle">
            <img src="../../../assets/image/Bell.svg" alt="Bell">
            <p class="notify_bell">99</p>
        </div>
        <div class="content_nav_right_info">
            <img src="../../../assets/image/Avatar2.jpg" alt="Avatar2">
            <div class="content_nav_right_info_content">
                <h1 class="content_nav_right_info_content_h1">Name student</h1>
                <p class="content_nav_right_info_content_p">Class</p>
            </div>
            <img class="down" src="../../../assets/image/Icon.svg" alt="Icon">
            <div class="info-down">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="../../../assets/image/question.svg" alt="question">
                        </div>
                        <span>Help & Support</span>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="../../../assets/image/chamthan.svg" alt="chamthan">
                        </div>
                        <span>Give Feedback</span>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="../../../assets/image/change.svg" alt="change">
                        </div>
                        <span>Change Course Selection</span>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="../../../assets/image/Logout.png" alt="Logout">
                        </div>
                        <span>Log Out</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="content_nav_title">
        <div class="content_nav_title_image">
            <img src="../../../assets/image/ElipGreen.svg" alt="">
        </div>
        <h1 class="content_nav_title_h1">Module 1</h1>
    </div>
</div>