<div class="wrapper">
    <div class="container">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content">
            <div class="content_header">
                <div class="content_header_left">
                    <div class="left_icon">
                        <img src="../../../assets/image/ear.svg" alt="ear">
                    </div>
                    <h1 class="left_h1">Exercise 3:</h1>
                </div>
                <div class="content_header_right">
                    <div class="completed">
                        <h2 class="completed_title">Total completed:</h2>
                        <div>
                            <h1 class="completed_info">12/30</h1>
                        </div>
                    </div>
                    <div class="timeLeft">
                        <h2 class="timeLeft_title">Time left:</h2>
                        <div class="timeLeft_info">
                            <h1>0:30:15</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content_body">
                <div class="content_body_left">
                    <h1 class="content_body_left_title">Watch the video below and answer the question ? </h1>
                    <p class="content_body_left_h1_text">NEWBURYPORT, Mass. — Donna Holaday is the kind of mayor who
                        does not say no to an invitation.
                        She shows up for lesser ribbon cuttings, at Radiant U Esthetics and the Angry Donut. She is
                        there for the dinky parades, three or four blocks to the waterfront and backNEWBURYPORT, Mass. —
                        Donna Holaday is the kind of mayor who does not say no to an invitation.
                        She shows up for lesser ribbon cuttings, at Radiant U Esthetics and the Angry Donut. She is
                        there for the dinky parades, three or four blocks to the waterfront and back...
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque iste corrupti odit laboriosam
                        nisi, fugit nulla eius, culpa sit dolor fuga, autem impedit hic assumenda totam corporis! Quae,
                        dicta repudiandae!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione non, commodi sapiente natus
                        nemo labore? Natus cumque voluptatem, iusto omnis, est a sequi tempore, mollitia molestiae
                        incidunt totam earum nobis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, commodi adipisci. Deleniti ex odit
                        nesciunt corrupti fuga hic rem placeat ut harum ullam a iste, iure aut sint delectus nam!
                    </p>
                </div>

                <div class="content_body_right">
                    <div class="question">
                        <h1 class="question_title">Q1. Which most accurately paraphrases ‘messed up’?
                        </h1>
                    </div>
                    <div class="answer">
                        <div class="answer_group">
                            <h1 class="answer_number">1.</h1>
                            <div class="answer_items">
                                <div class="answer_item">He</div>
                                <div class="answer_item">loves</div>
                                <div class=" answer_item">Brazilian</div>
                                <div class=" answer_item">steak</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                            </div>
                        </div>
                        <div class="answer_group">
                            <h1 class="answer_number">1.</h1>
                            <div class="answer_items">
                                <div class="answer_item">He</div>
                                <div class="answer_item">loves</div>
                                <div class=" answer_item">Brazilian</div>
                                <div class=" answer_item">steak</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                            </div>
                        </div>
                        <div class="answer_group">
                            <h1 class="answer_number">1.</h1>
                            <div class="answer_items">
                                <div class="answer_item">He</div>
                                <div class="answer_item">loves</div>
                                <div class=" answer_item">Brazilian</div>
                                <div class=" answer_item">steak</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                                <div class=" answer_item">a lot</div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>