<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content">
            <div class="content_top">
                <div class="content_top_title">
                    <h2 class="content_top_title_total">Total score:</h2>
                    <h1 class="content_top_title_score">28/40</h1>
                </div>
                <div class="content_top_center">
                    <div class="content_top_center_left">
                        <h1 class="content_top_center_left_title">
                            Biểu đồ kỹ năng
                        </h1>
                        <div class="content_top_center_left_image">
                            <img src="../../../assets/image/img.png" alt="">
                        </div>
                    </div>
                    <div class="content_top_center_right">
                        <h1 class="content_top_center_right_title">Tổng kết các module</h1>
                        <div class="content_top_center_right_items">
                            <div class="content_top_center_right_item">
                                <div class="content_top_center_right_item_module">
                                    <p class="module">Module</p>
                                    <h1 class="number">1</h1>
                                </div>
                                <div class="content_top_center_right_item_score">
                                    <h1 class="title">Điểm</h1>
                                    <div class="percent">
                                        <div class="percent-mini">30%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content_top_center_right_item">
                                <div class="content_top_center_right_item_module">
                                    <p class="module">Module</p>
                                    <h1 class="number">2</h1>
                                </div>
                                <div class="content_top_center_right_item_score">
                                    <h1 class="title">Điểm</h1>
                                    <div class="percent">
                                        <div class="percent-mini" style="width:70%;">70%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content_top_center_right_item">
                                <div class="content_top_center_right_item_module">
                                    <p class="module">Module</p>
                                    <h1 class="number">3</h1>
                                </div>
                                <div class="content_top_center_right_item_score">
                                    <h1 class="title">Điểm</h1>
                                    <div class="percent">
                                        <div class="percent-mini" style="width:50%">50%</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="content_bot">
                <div class="table">
                    <div class="a2">
                        <div class="a2-item box grey">
                            <div class="info">
                                <h1 class="title">A2</h1>
                                <p class="module">Module</p>
                            </div>
                            <img src="../../../assets/image/Arrow1.svg" alt="Arrow1" class="arrowup arrow">
                            <img src="../../../assets/image/Arrow2.svg" alt="Arrow1" class="arrowdown arrow">
                        </div>
                    </div>
                    <div class="b1-a1">
                        <div class="b1 box grey">
                            <div class="info">
                                <h1 class="title">B1</h1>
                                <p class="module">Module</p>
                            </div>
                            <img src="../../../assets/image/Arrow3.svg" alt="Arrow3" class="arrowup arrow">
                            <img src="../../../assets/image/Arrow4.svg" alt="Arrow4" class="arrowdown arrow">
                        </div>
                        <div class="a1 box false ">
                            <div class="info">
                                <h1 class="title">A1</h1>
                                <p class="module">Module</p>
                            </div>
                            <img src="../../../assets/image/Arrow5.svg" alt="Arrow1" class="arrow5 arrow">
                            <img src="../../../assets/image/Arrow6.svg" alt="Arrow1" class="arrowcenter arrow">
                            <img src="../../../assets/image/Arrow7.svg" alt="Arrow1" class="arrow7 arrow">
                        </div>
                    </div>
                    <div class="b1plus-b1-a2-a1-academic">
                        <div class="b1plus-b1">
                            <div class="b1plus box false">
                                <div class="info">
                                    <h1 class="title">B1+</h1>
                                    <p class="module">Module</p>
                                </div>
                                <img src="../../../assets/image/Arrow8.svg" alt="Arrow8" class="arrowup arrow">
                                <img src="../../../assets/image/Arrow9.svg" alt="Arrow9" class="arrowdown arrow">
                            </div>
                            <div class="b1 box active">
                                <div class="info">
                                    <h1 class="title">B1</h1>
                                    <p class="module">Module</p>
                                </div>
                            </div>

                        </div>
                        <div class="a2-a1-academic">
                            <div class="a2 box false">
                                <div class="info">
                                    <h1 class="title">A2</h1>
                                    <p class="module">Module</p>
                                </div>
                            </div>
                            <div class="a1 box false">
                                <div class="info">
                                    <h1 class="title">A1</h1>
                                    <p class="module">Module</p>
                                </div>
                            </div>
                            <div class="academic box false">
                                <div class="info">

                                    <p class="module">Ineligible for
                                        Academic</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b2-b1plus">
                        <div class="b2 box false">
                            <div class="info">
                                <h1 class="title">B2</h1>
                                <p class="module">Module</p>
                            </div>
                        </div>
                        <div class="b1plus box false">
                            <div class="info">
                                <h1 class="title">B1+</h1>
                                <p class="module">Module</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="result">
                    Kết quả cho thấy bạn đang ở trình độ B1. Hãy chọn tiếp tục để nhận kết
                    quả bài kiểm tra đầu vào!
                </p>
            </div>
        </div>
        <div class="footer">
            <button>
                Next
            </button>
        </div>
    </div>

</div>
<div class="background"></div>