<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content">
            <div class="content-center">
                <h1 class="title-content-center-h1">
                    <span>Hey!</span>
                    <br>
                    Học tiếng Anh theo lộ trình của Academic cùng FSEL nhé!
                </h1>
                <div class="center">
                    <div class="tryOut">
                        <h1 class="tryOut-title">HỌC THỬ</h1>
                        <img src="../../../assets/image/spaceship.svg" alt="spaceship">
                    </div>
                    <div class="getOffers">
                        <h1 class="getOffers-title">NHẬN ƯU ĐÃI</h1>
                        <img src="../../../assets/image/getOffers.svg" alt="getOffers">
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>
<div class="background"></div>