<div class="nav">
    <div class="logo">
        <img src="../../../assets/image/Dog.svg" alt="">
    </div>
    <ul class="nav_menu">
        <li>
            <img src="../../../assets/image/Home.svg" alt="Home">
        </li>
        <li>
            <img src="../../../assets/image/Read.svg" alt="Read">
        </li>
        <li>
            <img src="../../../assets/image/Messege.svg" alt="Messege">
        </li>
        <li>
            <img src="../../../assets/image/Star.svg" alt="Star">
        </li>
        <li>
            <img src="../../../assets/image/Cart.svg" alt="Cart">
        </li>
    </ul>
    <div class="nav_close">
        <img src="../../../assets/image/Close.svg" alt="Close">
    </div>
</div>