<div class="content_nav">
    <div class="content_nav_left">
        <img src="../../../assets/image/Avatar1.png" alt="Avatar1">
        <div class="content_nav_left_info">
            <h1>Good morning</h1>
            <p>Are you ready to reach for the stars?</p>
        </div>
    </div>
    <div class="content_nav_right">
        <div class="content_nav_right_item calendar">
            <img src="../../../assets/image/Calendar.svg" alt="Calendar">
            <span>0</span>
        </div>
        <div class="content_nav_right_item coin">
            <img src="../../../assets/image/Coin.svg" alt="Coin">
            <span>0</span>
        </div>
        <div class="content_nav_right_item notify">
            <img src="../../../assets/image/Circle.svg" alt="Circle">
            <img src="../../../assets/image/Bell.svg" alt="Bell">
            <p class="notify_bell">99</p>
        </div>
        <div class="content_nav_right_info">
            <img src="../../../assets/image/Avatar2.jpg" alt="Avatar2">
            <div class="content_nav_right_info_content">
                <h1>Thành Long</h1>
                <p>IE.202301</p>
            </div>
            <img class="down" src="../../../assets/image/Icon.svg" alt="Icon">
        </div>
    </div>
</div>