<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content">
            <div class="content_title">
                <h1 class="content_title_h1">MINDSET FOR IELTS 2: <span>Target 5.0+</span></h1>
                <p class="content_title_p">Class ID: IE.202301</p>
            </div>
            <div class="content_earth">
                <div class="earth_one">
                    <div class="earth_one-image">
                        <img src="../../../assets/image/earth1.svg" alt="earth1">
                        <img class="earth_one-line" src="../../../assets/image/line1.svg" alt="line1">
                        <img class="rocket_one" src="../../../assets/image/Rocket.svg" alt="rocket">
                        <img class="earth_one-mini" src="../../../assets/image/earth1-mini.svg" alt="earth1-mini">
                    </div>
                    <div class="earth_one-unit">
                        <img src="../../../assets/image/unit1-icon.svg" alt="unit1-icon">
                        <h1 class="earth-unit-title">UNIT 1</h1>
                    </div>
                </div>
                <div class="earth_two">
                    <div class="earth_two-image">
                        <img class="earth_two-line" src="../../../assets/image/line2.svg" alt="line2">
                        <img src="../../../assets/image/earth2.svg" alt="earth2">
                    </div>
                    <div class="earth_two-unit">
                        <img src="../../../assets/image/unit2-icon.svg" alt="unit2-icon">
                        <h1 class="earth-unit-title">UNIT 2</h1>
                    </div>
                </div>
                <div class="earth_three">
                    <div class="earth_three-image">
                        <img src="../../../assets/image/earth3.svg" alt="earth3">
                        <img class="earth_three-mini" src="../../../assets/image/earth2-mini.svg" alt="earth2-mini">
                        <img class="earth_three-line" src="../../../assets/image/line3.svg" alt="line3">
                    </div>
                    <div class="earth_three-unit">
                        <img src="../../../assets/image/unit2-icon.svg" alt="unit2-icon">
                        <h1 class="earth-unit-title">UNIT 3</h1>
                    </div>
                </div>
                <div class="earth_four">
                    <div class="earth_four-image">
                        <img src="../../../assets/image/earth4.svg" alt="earth4">
                        <img class="earth_four-mini" src="../../../assets/image/earth3-mini.svg" alt="earth_3-mini">
                        <img class="earth_four-line" src="../../../assets/image/line4.svg" alt="line4">
                    </div>
                    <div class="earth_four-unit">
                        <img src="../../../assets/image/unit2-icon.svg" alt="unit2-icon">
                        <h1 class="earth-unit-title">UNIT 4</h1>
                    </div>
                </div>
                <div class="earth_five">
                    <div class="earth_five-image">
                        <img src="../../../assets/image/earth5.svg" alt="earth4">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="background"></div>